{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1><i class="fa-solid fa-location-crosshairs"></i> {{ location.name }}</h1>
            <div class="grey-box">{{ location.description|linebreaks }}</div>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for char_sit in characters_situations %}
        <div class="col">
            <h5>
                <a class="underline" href="{% url 'move_active_character' char_sit.situation.id %}">
                    {{ char_sit.situation.name }}
                </a>
            </h5>
            {% for character in char_sit.characters %}
            <div>
                <a href="#characterModal{{ character.id }}" data-bs-toggle="modal"
                    data-bs-target="#characterModal{{ character.id }}">
                    {% if character == active_character %}
                    <i class="fa-solid fa-location-dot"></i>
                    {% endif %}
                    {{ character.first_name }} {{ character.last_name }}
                </a>
            </div>

            <div class="modal" id="characterModal{{ character.id }}" tabindex="-1" role="dialog"
                aria-labelledby="characterModalLabel{{ character.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="characterModalLabel{{ character.id }}">
                                {{ character.first_name}} {{ character.last_name }}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ character.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <hr>

    <div class="row">

        <div class="col-md-3 actions text-center order-md-last">
            <nav>
                <h3>Actions</h3>
                <hr class="center-diamond w-100">
                <ul class="list-unstyled">
                    <li><a class="underline" href="{% url 'view_active_character_destinations' %}">Se déplacer</a></li>
                    <li><a class="underline" href="{% url 'create_message' %}">Ecrire un RP</a></li>
                </ul>
            </nav>

            <div class="row">
                <div class="col-5">
                    <hr>
                </div>
                <div class="col-2 text-center">
                    <i class="fa-brands fa-empire" style="font-size: 30px"></i>
                </div>
                <div class="col-5">
                    <hr>
                </div>
            </div>

        </div>

        <div class="col-md-9">
            {% for log in logs %}
            <div class="log-box {{ log.identifier }}">
                {% if log.author %}
                <div>
                    <div class="author">{{ log.author }}</div>
                    {% endif %}
                    <div class="content">
                        {{ log.content|linebreaks }}
                    </div>
                    <div class="audience">
                        Destinataires:
                        {{ log.recipients.all|join:', ' }}
                    </div>
                </div>
            </div>
            <hr class="center-diamond">
            {% endfor %}
        </div>


    </div>

    {% endblock %}