{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ location.name }}</h1>
            <p>{{ location.description }}</p>
        </div>
    </div>
    <div class="row">
        {% for char_sit in characters_situations %}
        <div class="col">
            <h3>{{ char_sit.situation.name }}</h3>
            {% for character in char_sit.characters %}
            <p>{{ character.first_name }} {{ character.last_name }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}