{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Bienvenue sur SW:Vestiges</h1>

            <p>
                La défaite d'Endor a laissé des traces indélébiles sur l'armure
                impériale immaculée. Une poignée de terroristes a tué des
                centaines de milliers de ressortissants impériaux dans la
                destruction du chef d'oeuvre technologique initié par le
                Directeur Krennic et le Grand Moff Tarkin.
            </p>

            <p>
                L'Empereur disparu, la stabilité de l'Ordre Nouveau a été
                ébranlée et les terroristes en ont profité pour renverser le
                pouvoir en place à Coruscant, scindant la galaxie en centaines
                d'états indépendants et désorganisés.
            </p>
            <p>
                Depuis quelques mois, celle qui se nomme désormais la Nouvelle
                République ne parvient pas à maintenir la cohésion d'antan basée
                sur l'Ordre et la Discipline. Des années de jouissance équitable
                ont été réduites à néant.
            </p>

            <p>Pourtant l'Empire n'est pas mort.</p>

            <p>
                Diminués, affaiblis, et pourchassés, les vestiges impériaux
                tentent de maintenir une certaine cohérence dans un univers
                soumis au Chaos. Encore isolés les uns des autres, les Moffs
                poursuivent l'oeuvre de Palpatine, grâce à l'indéfectible
                loyauté des troupes de la glorieuse Marine Impériale.
            </p>
            <p>
                Le Quadrant Epsilon de la Bordure Extérieure bénéficie de la
                protection du Moff Joneleth Sander. Sous sa houlette, quelques
                croiseurs légers impériaux naviguent au gré des besoins de la
                population de ce coin perdu de la galaxie, abritant les oubliés
                de la Nouvelle République. Depuis son croiseur de commandement
                de classe Arquitens, "Le Félin", il dirige les expéditions aux
                objectifs divers et variés d'une main souple (tandis que l'autre
                caresse Ryrys, son chat de compagnie).
            </p>
            <p>
                L'histoire impériale continue donc de s'écrire ici et
                mainenant...
            </p>
        </div>
    </div>
</div>
{% endblock %}
