// If you comment out code below, bootstrap will use red as primary color
// and btn-primary will become red

// $primary: red;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$swv-icon-path: "./../../vendors/icons";

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $green-400;
  }
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: $green-400;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.log-box {
  background-color: $gray-200;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 10px;

  &::before {
    content: "";
    display: inline-block;
    min-width: 40px;
    height: 40px;
    margin-right: 0.8rem;
  }

  .author {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .audience {
    font-size: 0.8rem;
    opacity: 0.5;
  }
}

.log-box.deplacement {
  background-color: transparent;
  font-style: italic;
  font-weight: 700;
  align-items: center;
  padding: 0.5rem 1rem;

  &::before {
    background: url("#{$swv-icon-path}/deplacement.png") no-repeat;
    background-size: cover;
  }

  .author {
    display: none;
  }

  .content {
    p {
      margin-bottom: 0;
    }
  }

  .audience {
    display: none;
  }
}

.log-box.dialogue {
  &::before {
    background: url("#{$swv-icon-path}/dialogue.png") no-repeat;
    background-size: cover;
  }
}

.actions {
  padding: 1rem;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: 175px;
  top: 10px;
  transform: translateY(-10px);
  bottom: auto;
  background-color: $white;
  z-index: 10;
}
