{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action=" {% url 'add_character' %}" method="POST" id="add-character-form" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {{ field }}
                {% endfor %}
                <button class=" btn btn-gold" type="submit">Add Character <i class="fas fa-beer ml-1"></i></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}