<nav>
    <h3>Actions</h3>
    <hr class="center-diamond w-100">
    <ul class="list-unstyled">
        <li><a class="underline" href="{% url 'view_active_character_destinations' %}">Se déplacer</a></li>
        <li><a class="underline" href="{% url 'create_message' %}">Ecrire un RP</a></li>
    </ul>
</nav>

<div class="row">
    <div class="col-5">
        <hr>
    </div>
    <div class="col-2 text-center">
        <i class="fa-brands fa-empire" style="font-size: 30px"></i>
    </div>
    <div class="col-5">
        <hr>
    </div>
</div>