{% load static %}
{% load webpack_loader static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% stylesheet_pack 'app' %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% javascript_pack 'app' 'app2' attrs='charset="UTF-8"' %}

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>SW: Vestiges {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid px-0 mb-3">
        {% include 'includes/nav.html' %}
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 actions text-center order-md-last">
                {% include 'includes/actions.html' %}
            </div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

    {% block postload_js %}
    {% endblock %}
</body>

</html>